.App{
  min-width: 100vh;
  background-color: #eee;
}
html{
  font-family: "Poppins",sans-serif;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border:none;
  padding:10px;
  margin: 10px
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}